<div class="header-top bg-theme-two section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-top-info">
                        <p class="text-white">Call us -  <a href="tel:21548987658">21548 987 658</a></p>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="header-buttons">
                        <a class="header-btn btn" href="add-property.html">Add Property</a>
                        <a class="header-btn btn-border" href="register.html" >Register</a>
                        <a class="header-btn" href="login.html">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>