{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- About Section Start -->
<div class="about-section section pt-65 pb-75 pt-md-55 pb-md-55 pt-sm-45 pb-sm-45 pt-xs-25 pb-xs-25">
    <div class="container">
        <div class="row align-items-center fix">
            
            <div class="col-lg-4 col-md-5 col-12 offset-lg-1 mb-15 mt-35">
                <div class="about-properties-area">
                    <div class="about-slider_bg"></div>
                    <div class="about-properties-slider">
                        <div class="about-properties-item">
                            <div class="image"><img src="{% static 'img/about/about-1.jpg' %}" alt=""></div>
                        </div>

                        <div class="about-properties-item">
                            <div class="image"><img src="{% static 'img/about/about-2.jpg' %}" alt=""></div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="about-content col-lg-6 col-md-7 col-12 ml-auto mt-35 pl-lg-0">
                <h2>We never compromize <br> with quality work...</h2>
                <p>Ortiz is one of the most popular real estate company all around USA. You can find your dream property or build property </p>
                
                <div class="row row-25">
                    
                    <div class="about-feature col-md-6 col-sm-6 col-12 mb-35">
                        <div class="icon"><img src="{% static 'img/icons/feature-1.png' %}" alt=""></div>
                        <div class="content">
                            <h4>Minimum Cost</h4>
                            <p>Privide low cost that help all more build real estate</p>
                        </div>
                    </div>
                    
                    <div class="about-feature col-md-6 col-sm-6 col-12 mb-35">
                        <div class="icon"><img src="{% static 'img/icons/feature-2.png' %}" alt=""></div>
                        <div class="content">
                            <h4>Best Marketing</h4>
                            <p>Privide low cost that help all more build real estate</p>
                        </div>
                    </div>
                    
                    <div class="about-feature col-md-6 col-sm-6 col-12 mb-35">
                        <div class="icon"><img src="{% static 'img/icons/feature-3.png' %}" alt=""></div>
                        <div class="content">
                            <h4>Easy to Search</h4>
                            <p>You can find your property to simply and easy way</p>
                        </div>
                    </div>
                    
                    <div class="about-feature col-md-6 col-sm-6 col-12 mb-35">
                        <div class="icon"><img src="{% static 'img/icons/feature-4.png' %}" alt=""></div>
                        <div class="content">
                            <h4>Secure</h4>
                            <p>You can find your property to simply and easy way</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            
        </div>
    </div>
</div><!-- About Section End -->
{% endblock content %}
